/* source-code-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/source-code-pro-v31-latin/source-code-pro-v31-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-code-pro-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/source-code-pro-v31-latin/source-code-pro-v31-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lxgw-wenkai-tc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "LXGW WenKai TC";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/lxgw-wenkai-tc-v9-latin/lxgw-wenkai-tc-v9-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lxgw-wenkai-tc-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "LXGW WenKai TC";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/lxgw-wenkai-tc-v9-latin/lxgw-wenkai-tc-v9-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
