---
layout: default
toc: false
---
{% assign sorted_tags = site.tags | sort %}

<section class="tag-page tag-page--index">
  <header class="tag-page__header">
    <div class="tag-page__eyebrow">标签页</div>
    <h1 class="tag-page__title">全部标签</h1>
    <p class="tag-page__description">按标签浏览文章，点击任一标签进入对应列表页。</p>
  </header>

  <div class="tag-page__grid">
    {% for tagitem in sorted_tags %}
      {% assign tag_name = tagitem[0] %}
      <a class="tag-card" href="{{ site.baseurl }}/tags/{{ site.data.tag_paths[tag_name] | default: tag_name | slugify }}/">
        <div class="tag-card__title-row">
          <h2 class="tag-card__title">{{ tag_name }}</h2>
          <span class="tag-card__count">{{ tagitem[1].size }}</span>
        </div>
        <ul class="tag-card__posts">
          {% for post in tagitem[1] limit: 4 %}
            <li class="tag-card__post">{{ post.title }}</li>
          {% endfor %}
        </ul>
      </a>
    {% endfor %}
  </div>
</section>
